<?php

use PhpCsFixer\Finder;
use PhpCsFixer\Config;

$rules = [
    '@Symfony' => true,
];

$finder = Finder::create()
    ->in(__DIR__)
    ->exclude('storage')
    ->exclude('resources/lang');

return Config::create()
    ->setFinder($finder)
    ->setRules($rules)
    ->setUsingCache(true);
